div.bgCircle {
  width: auto;
  padding: 20px;
  background: #FECEA8;
  border-radius: 50%;
  height: 80px;
  
  display: flex;
  justify-content: space-between;
  align-items: center
}

.icon {
  color: #FF1E56;
}