/* App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures the app container fills the entire viewport height */
}

.content {
  flex: 1; /* This pushes the footer to the bottom */
  padding: 20px; /* Optional padding for your main content */
  background-color: #FFF5E4;
  color: #1B1B2F;
}
