/* App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #F8F0E5;
  
}

.content {
  flex: 1; 
  padding: 20px; 
  color: #1B1B2F;
}
